@import '../variables.scss';
@import '../globals.scss';

.mainContainer{
    padding-top: 10rem;

    .el{
        display: flex;
        flex-direction: column;
    }
    .containerEl{

        .titleEl{
            padding: 1.5rem;
        }
    
        .bildeProsject{
            width:  12rem; 
        }

        .textEl{
            padding: 2rem;
            line-height: 1.5rem;
        }

        .btn{
            gap: 2rem;
            display: flex;
            justify-content: center;
        }
    }



@media screen and (min-width: map-get($breakpoints, tablet) ) {
            margin-bottom: 30rem;
            padding-top: 6rem;
     
            .containerEl{
                .bildeProsject{
                    width:  30rem;
                
                }
            } 
    }

@media screen and (min-width: map-get($breakpoints, laptop) ) {
        
            .el{
                display: flex;
                flex-direction: row;
            }
            .containerEl{
                .bildeProsject{
                    width:  15rem;
                
                }
            }
    }
}
