@import '../variables.scss';
@import '../globals.scss';

.mainContainer{
    padding-top: 10rem;
    

    .el{
        display: flex;
        flex-direction: column;
    }

    .containerEl{

        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

      
    
        .bildeProsject{
            width:  12rem; 
        }


        .btn{
            
            padding: .5rem;
            gap: 2rem;
            display: flex;
            justify-content: center;
        }
    }



@media screen and (min-width: map-get($breakpoints, tablet) ) {
            margin-bottom: 5rem;
            padding-top: 6rem;
    
            .containerEl{
                .bildeProsject{
                    width:  30rem;
                
                }
            } 
    }

@media screen and (min-width: map-get($breakpoints, laptop) ) {
        
            .el{
                display: flex;
                flex-direction: row;
            }
            .containerEl{
                padding: .5rem;
                .bildeProsject{
                    width:  15rem;
                
                }
            }
    }
}
