@import '../variables.scss';
@import '../globals.scss';
.container{
    height: 65vh;
    padding-top: 10rem;


    .containerSkills{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 5rem;

        .row {
            .skillsEl_html{
                height: 100px;
                padding-bottom: 2rem;
            }

            .skillsEl_css{
                height: 100px;
                padding-bottom: 2rem;
            }
        }

        .row {
            .skillsEl_scss{
                height: 100px;
                padding-bottom: 2rem;
            }
            .skillsEl_javascript{
                height: 100px;
                padding-bottom: 2rem;
            }

            .skillsEl_next{
                height: 100px;
                padding-bottom: 2rem;
            }

        }


        .row {

            .skillsEl_typescript{
                height: 100px;
                padding-bottom: 2rem;
            }
            .skillsEl_react{
                height: 100px;
                padding-bottom: 2rem;
            }

        }

    }

    @media screen and (min-width: map-get($breakpoints, tablet) ) {

        padding-top: 5rem;
    }

    @media screen and (min-width: map-get($breakpoints, laptop) ) {
        height: 70vh;
        padding-top: 5rem;



    }

}