

.container{
    margin: 4rem;
    .title{
        color: black;
        margin-bottom: 5rem;
    }
.ContainerElements{
        display: flex;
        flex-direction: row;
        justify-content: center;
       
        height: 30vh;

    }
.imagePerson{
width: 15rem;
height: 15rem;
    }

.txtAbout{
        width: 20rem;
    }
}
.about{
    background-color: #DF883A;
}