

.container{
    .title{
        color: black;
    }
.ContainerElements{
        display: flex;
        flex-direction: row;
        width: 70%;
        
    }
}
.about{
    background-color: #DF883A;
}