@import './variables.scss';

.container{
    margin: 4rem;

    .title{
        color: black;
        margin-bottom: 5rem;
        padding-top: 10rem;
    }
    .ContainerElements{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .imagePerson{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        align-self: center;

    }

    .txtAbout{

        line-height: 1.5rem;
        padding-top: 2rem;

    }

    @media screen and (min-width: map-get($breakpoints, phone) ) {


    }
    @media screen and (min-width: map-get($breakpoints, tablet) ) {


    }

    @media screen and (min-width: map-get($breakpoints, laptop) ) {

        .ContainerElements{
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            height: 30vh;
            gap: 4rem;
            margin: 10rem;
        }

    }

}
