@import './variables.scss';
@import './globals.scss';

.btnGoTopHidden{
   display: none;
}

.btnToTop{
   display: block;
    border-radius: 50%;
    background-color: $third-color;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    z-index: 1;
    left: 60%;
    bottom: 10rem;
    border-style: none;
    
    @media screen and (min-width: map-get($breakpoints, tablet) ) {
      left: 92%;

  }
  @media screen and (min-width: map-get($breakpoints, laptop) ) {
   left: 94%;

}
}

.btnToTop:active{background-color: red;}

.btnToTop:hover{background-color: $primary-color;}

   

