@import './variables.scss';

.mainContainer{
   
    //width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;


    .container1{

        .titleEl{
            padding: 1.5rem;
        }
    
        .bildeProsject{
            width: 85%;
        }
        .textEl{
            padding: 2rem;
        }
       
    }

.container2{
        
    .titleEl{
        padding: 1.5rem;
    }
        .bildeProsject{
            width: 85%;
        }
        .textEl{
            padding: 2rem;
        }
       
    }

.container3{
    .titleEl{
        padding: 1.5rem;
    }

        .bildeProsject{
            width: 85%;
        }
        .textEl{
            padding: 2rem;
        }
        
    }

@media screen and (min-width: map-get($breakpoints, tablet) ) {

            width: 45rem;
    }
@media screen and (min-width: map-get($breakpoints, laptop) ) {
            display: flex;
            flex-direction: row;
            width: 60rem;
            justify-content: space-between;
            align-content: center;

    }
}
