@import './variables.scss';

.container{
    padding-top: 5rem;
    .container_box{
        display: grid;
        flex-direction: column;
        justify-content: center;
        height: 100vh;

        .containerEl{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            background-color: $secundary-color;

        }
    }
}