@import './variables.scss';

.container{
    background-color: $secundary-color;
height: 100vh;
padding-top: 5rem;


    .containerSkills{
        display: flex;
        flex: 1;
        justify-content: center;
        gap: 6rem;
        margin-top: 5rem;

        .row {
            .skillsEl_html{
                height: 100px;
            }

            .skillsEl_css{
                height: 100px;
            }
        }

        .row {
            .skillsEl_scss{
                height: 100px;
            }
            .skillsEl_javascript{
                height: 100px;
            }

        }


        .row {

            .skillsEl_typescript{
                height: 100px;
            }
            .skillsEl_react{
                height: 100px;
            }
        }

    }
}