//Farger
//C66421
//DF883A
//E1CFA4
//7D8A7B
//539794




$primary-color: #304A83;//mørk blå --> denne har blitt brukt
$secundary-color: #FCFBFB; //hvit
$third-color:#000000; //svart

$fourth-color: #83C2DB; //lys blå
$fifth-color: #58A7BB; //lys men mørk blå




// Breakpoints
$breakpoints: (
    phone: 320px,
    tablet: 768px,
    laptop: 1024px,
);

$app-height: 100%

//#FCFBFB
//#E49A32
//#83C2DB
//#58A7BB
//#304A83