//Farger
//C66421
//DF883A
//E1CFA4
//7D8A7B
//539794



/*
$primary-color: #304A83;
$secundary-color: #FCFBFB;
$third-color: #E49A32;
$fourth-color: #83C2DB;
$fifth-color: #58A7BB;
*/

// Breakpoints
$breakpoints: (
    phone: 600px,
    tablet: 700px,
    laptop: 1270px,
    large: 1500px,
);


//#FCFBFB
//#E49A32
//#83C2DB
//#58A7BB
//#304A83